@import  '//fonts.googleapis.com/css?family=Special+Elite';
@import '//fonts.googleapis.com/css?family=Open+Sans';

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(0,0,0,1);
  color: #FFF;
  word-wrap: normal;
}

p {
  color: #F1F1F1;
}
p .highlight {
  font-weight: bold;
  color: #FFF;
}
p .big {
    font-size: 21px;
}
p .green {
  color: rgb(104, 255, 104);
}

h1 {
  font-family: 'Special Elite', sans-serif;
  margin-bottom: 32px;
  text-align: center;
}

a, a:visited, a:active, a:hover {
  color: #FFF;
  text-decoration: underline;
}

.bg-image {
  background-image: url(gym.png);
  background-attachment: scroll;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: .69;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 0;
}

.container {
  position: relative;
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 15px;
}

.subscribe-form .btn, .subscribe-form .form-control {
  border-radius: 0;
}

.transparent-background {
  background-color: rgba(0,0,0,0.8);
}

.break {
  margin-top: 30px;
}

.btn-subscribe {
  width: 100%;
}

.social-buttons {
  margin-bottom: 20px;
}

@media (max-width:767px) {
  .margin-top-xs {
    margin-top: 10px;
  }
}

@media (min-width: 481px) { /* iphone4 height */
  p {
    font-size: 20px;
  }

  p .big {
    font-size: 30px;
  }

  h1 {
    font-size: 60px;
  }
}


@media (min-width: 769px) { /* ipad width */
  p {
    font-size: 22px;
  }

  p .big {
    font-size: 34px;
  }

  h1 {
    font-size: 75px;
  }
}

@media (min-width: 1024px) and (min-height: 768px), (min-width: 768px) and (min-height: 1024px) {
  .container {
    margin-top: 50px;
  }
}